<br />
<div class="box col-8 offset-2">
  <h1>Add new course</h1>
  <br />
  <%= simple_form_for @course, url: instructor_courses_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.submit "Create", class: 'btn btn-primary' %>
    
  <% end %>
  
</div>